.footer {
  padding: 3rem 0 0 1rem;

  &__links {
    display: flex;
    justify-content: center;
    cursor: pointer;

    &-item {
      font-size: 1.7rem;
      padding: 1rem;

      @include respond(tab-port) {
        font-size: 1.4rem;
      }

      &-link {
        &-1 {
          color: #1da1f2;
        }
        &-2 {
          color: #4078c0;
        }
        &-3 {
          color: $color-primary;
        }
      }

      &-icon {
        height: 2rem;
        width: 2rem;
      }
    }
  }
  p {
    text-align: center;
    font-size: 1.4rem;

    @include respond(tab-port) {
      font-size: 1.2rem;
    }
  }
}

//footer__links-item-icon
