.header {
  position: relative;
  z-index: 3;

  &__bar {
    position: fixed;
    right: 3.8rem;
    top: 4.3rem;
    cursor: pointer;
    transition: 0.4s all;

    &-hide {
      transform: scale(0);
    }

    &-bar {
      height: 0.2rem;
      width: 3rem;
      background-color: $color-primary;

      @include respond(tab-land) {
        height: 0.15rem;
      }

      @include respond(tab-port) {
        height: 0.1rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }

      &--1,
      &--3 {
        width: 4rem;
      }
    }
  }
}
